#main-form {
    max-width: 625px;
    border: 3px solid var(--color-border);
    font-family: var(--font-family-primary);
    color: var(--color-text-primary);
}

.inverted-colors {
    background-color: var(--color-bg-dark);
    color: white;
}

header.flex-row {
    justify-content: center;
    gap: 25px;
    padding: 18px 0;
}

h2.mid-size {
    font-size: 40px;
}

.bottom-border {
    border-bottom: 2px solid var(--color-border-lighter);
}

section.flex-column {
    align-items: center;
    padding: 10px 30px 20px;
}

h3.prompt-text {
    font-size: 30px;
    padding: 15px 0;
    font-weight: 400;
}

#zone-id-input,
#type-input {
    width: 100%;
}

p.helper-text {
    text-align: center;
}

.purchase-options>label {
    font-size: 24px;
}

#trips-input {
    font-size: 24px;
    letter-spacing: 40px;
    color: var(--color-text-primary);
    padding: 10px;
}
